html {
    height: 100%;
}

body {
    box-sizing: border-box;
    margin: 0;
    height: 100%;
    background-image: linear-gradient( 45deg, #b9b5b5d9, #7a7a7ac4), url(./assets//img//elena-popova-xdXxY5C9PUo-unsplash.jpg);
    overflow: hidden;
    background-position: center;
}

.container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.modal {
    position: absolute;
    width: 0%;
    height: 0%;
    transition: all 0.2s ease-in-out;
    background-color: #d5c5c4a6;
    z-index: 9999;
    text-align: center;
    line-height: 13;
    font-size: 36px;
}

.show {
    width: 100%;
    height: 100%;
}

.gameboard {
    background-color: antiquewhite;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    width: 24rem;
    height: 24rem;
    display: flex;
    flex-wrap: wrap;
}

.recordboard {
    width: 90%;
    margin: 0 auto;
    margin-top: 1rem;
    font-size: 1rem;
    border-radius: 1rem;
    padding: 1.5rem;
    background: #4e84d5b3;
    color: #e0ecee;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.recordboard .restart {
    height: 2.5rem;
    cursor: pointer;
    border: none;
    border-radius: 1rem;
    color: #e8e8e8;
    background-color: #4cc333;
    letter-spacing: .5rem;
    box-shadow: 0 1px 4px #0000009e;
    transition: all .3s;
    font-size: inherit;
}

.recordboard .restart:hover {
    transform: scale(1.1);
}

.recordboard .turn {
    display: flex;
    align-items: center;
}

.recordboard .turn .player {
    position: relative;
    width: 50px;
    height: 50px;
    display: inline-block;
}

.recordboard .turn div {
    display: inline-block;
}

h1 {
    text-align: center;
    margin: 3px auto 3px auto;
    font-size: 30px;
}

.loc {
    background-color: rgb(223, 183, 6);
    width: calc(100% / 19);
    height: calc(100% / 19);
    position: relative;
}

.loc::before {
    content: "";
    position: absolute;
    left: 0;
    top: 48%;
    width: 100%;
    height: 2%;
    background-color: black;
    z-index: 2000;
}

.loc::after {
    content: "";
    position: absolute;
    left: 48%;
    width: 2%;
    height: 100%;
    background-color: black;
    z-index: 2000;
}

.edge {
    position: absolute;
    background-color: rgb(223, 183, 6);
}

.left {
    width: calc(100% / 38);
    top: calc(100% /38);
    height: calc(100% / 19 * 18);
    /* border-right: 1px solid black; */
    border-left: 2px solid black;
    box-sizing: border-box;
    z-index: 3001;
}

.right {
    z-index: 3001;
    width: calc(100% / 38);
    top: calc(100% /38);
    right: 0;
    height: calc(100% / 19 * 18);
    /* border-left: 1px solid black; */
    border-right: 2px solid black;
    box-sizing: border-box;
}

.top {
    z-index: 3000;
    width: 100%;
    box-sizing: border-box;
    height: calc(100% / 38);
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.bottom {
    z-index: 3000;
    width: 100%;
    bottom: 0;
    height: calc(100% / 38);
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    box-sizing: border-box;
}

.blackdot {
    position: absolute;
    width: 40%;
    height: 40%;
    left: 30%;
    top: 30%;
    background-color: rgb(65, 62, 62);
    border-radius: 50%;
    z-index: 5000;
}

.white {
    position: absolute;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    background-color: white;
    border-radius: 50%;
    z-index: 9998;
}

.black {
    position: absolute;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    background-color: rgb(49, 44, 44);
    z-index: 9998;
    border-radius: 50%;
}

@media(max-width:768px) {
    html {
        font-size: 90%;
    }
    .container {
        width: 100%;
    }
    .recordboard {
        flex-direction: column;
        padding: 0;
    }
    .recordboard .restart {
        margin: .5rem 0;
    }
}

@media(max-width:576px) {
    html {
        font-size: 80%;
    }
    
    .gameboard {
        width: 30rem;
        height: 30rem;
    }
}

@media(max-width:426px) {
    .gameboard{
        width: 90vw;
        height: 90vw;
    }
    html {
        font-size: 65%;
    }
}